<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in to your Dashboard Admin</title>
    <link rel="stylesheet" href="/dist/css/admin-login.css">
</head>

<body>
    <div class="container border">
        <form action="" method="POST">
            <input type="text" name="email" class="input" placeholder="Email or mobile number" id="">
            <input type="password" name="pass" class="input my-1" placeholder="Password" id="">
            <input type="submit" value="Log In" class="button">
        </form>
    </div>
    <footer class="footer">
        <ul class="list">
            <li>Contact Us</li>
            <li>Privay</li>
            <li>Legal</li>
            <li>Worldwide</li>
        </ul>
    </footer>
</body>

</html>