doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document        
    body(style="height:100vh;display:flex;align-items:center;justify-content:center;") 
        div(style="display:flex;")
            a(href=download target="_blank" style="font-size:20px;text-decoration:none;color:black;padding:10px 20px;background:rgb(52, 125, 235);font-family:arial;border-radius:5px;margin:0 5px;color:white") Download
            a(href=view target="_blank" style="font-size:20px;text-decoration:none;color:black;padding:10px 20px;background:rgb(52, 125, 235);font-family:arial;border-radius:5px;margin:0 5px;color:white;") Watch Online
