doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/dist/css/store.css")
        title Document
    body 
        form(action='/store/search' method="GET").search 
                input(type="text", name="q" placeholder="Search Anything")
                input(type="submit", value="Search").button
        nav#navbar.navbar.shadow-on-scroll
            h1.navbar-brand Aryan
            .navbar-toggler(data-toggle='nav')
                .line
                .line
                .line
            #nav.collapse
                ul.navbar-nav
                    li
                        a(href='/') Home
                    li
                        a.btn.modal-toggler(data-toggle='appointment') Buy
        .content 
            h1  Browse Apps 
            .grid 
                each item in items
                    a(href=item.downloadUrl target="_blank").card
                        img(src="/dist/img/"+item.thumbnail, alt="")
                        .card-content 
                            h2=item.title
                            span=item.type
                
        script(src="/dist/js/1.js") 